@font-face {
  font-family: "Wisdom Script";
  src: url(../fonts/wisdom-script.otf);
  src: local(wisdom-script), url(../fonts/wisdom-script.otf);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #777;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(252, 210, 71);
  border-radius: 1rem;
}

h1 {
  color: #222;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

h2 {
  color: #222;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

h4 {
  color: #222;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.myBut1, .myBut2 {
  background-color: rgb(252, 210, 71);
  color: rgb(43, 43, 43);
  font-size: 18px;
  font-weight: bold;
  padding: 25px 50px;
  text-transform: uppercase;
  transition: background 0.5s;
}

.myBut1:hover,
.myBut2:hover {
  background-color: rgb(255, 200, 0);
  color: rgb(255, 255, 255);
}

/*--------------------------------- SLIDER ----------------------------*/
#slides {
  height: 100%;
  list-style-type: none;
  margin: 0;
  min-height: 700px;
  padding: 0;
  position: relative;
}

.slide {
  background: linear-gradient(rgba(43, 43, 43, 0.6),rgba(43, 43, 43, 0.6)), url(../images/phHeaderBg1.jpeg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.slide:nth-of-type(1){
  background-image: linear-gradient(rgba(43, 43, 43, 0.6),rgba(43, 43, 43, 0.6)), url(../images/phHeaderBg1.jpeg);
}
.slide:nth-of-type(2){
  background-image: linear-gradient(rgba(43, 43, 43, 0.6),rgba(43, 43, 43, 0.6)), url(../images/phHeaderBg2.jpeg);
}
.slide:nth-of-type(3){
  background-image: linear-gradient(rgba(43, 43, 43, 0.6),rgba(43, 43, 43, 0.6)), url(../images/phHeaderBg3.jpeg);
}

.showing {
  z-index: 2;
}

.controls {
  background-color: transparent;
  background-image: none;
  color: #fed136;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 70px;
}

.controls:hover,
.controls:focus {
  color: #fed136;
}

.container {
  position: relative;
}

.buttons #previous,
.buttons #next {
  position: absolute;
  top: 335px;
  z-index: 10;
}

.buttons #previous {
  left: 0;
}

.buttons #next {
  right: 0;
}

/*--------------------------------- HEADER/SECTION MENU ----------------------------*/
#menu {
  display: block;
  left: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 4;
}

#menu .container {
  padding: 0 100px;
}

#menu .navbar-brand {
  position: absolute;
  color: #fed136;
  font-family: "Wisdom Script", sans-serif;
  font-size: 26px;
}

.navbar-nav > li > a {
  color: #fff;
  margin-left: 50px;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-shadow: none;
  text-transform: uppercase;
}

.navbar-nav li a:hover {
  background-color: transparent;
  border-bottom: 1px solid #fed136;
}

.navbar-nav > li > .dropdown-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  left: 87px;
  position: relative;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  border-color: #fff;
}

/*--------------------------------- HEADER/WELCOME TEXT ----------------------------*/
#welcome-text {
  display: block;
  left: 0;
  position: absolute;
  top: 180px;
  width: 100%;
  z-index: 3;
}

#welcome-text h2 span {
  color: #fff;
  font-family: "Droid Serif", sans-serif;
  font-size: 40px;
  font-style: italic;
  text-transform: none;
}

#welcome-text h1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 75px;
  margin-bottom: 60px;
  margin-top: 50px;
}

/*--------------------------------- SKILLS ----------------------------*/
#skills {
  padding-bottom: 115px;
  padding-top: 100px;
}

#skills .border-icon {
  border: 3px solid #fed136;
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  margin-bottom: 25px;
  width: 75px;
}

#skills i {
  color: #fed136;
  line-height: 75px;
  margin-top: -3px;
}

#skills p span {
  font-style: italic;
  margin-top: 25px;
}

#skills h4 {
  margin-bottom: 20px;
}

#skills h3 {
  color: #222;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}

#skills .myBut1 {
  margin-bottom: 0;
  margin-top: 80px;
}

#skills .row-margin {
  margin-bottom: 250px;
}

#skills .row.row-margin {
  margin-bottom: 80px;
}

#skills .col-margin {
  margin-bottom: 50px;
}

.content-image {
  background-image: url(../images/content-img.JPG);
  background-position: center;
  background-size: cover;
  height: 500px;
  border-radius: 20px;
}

/*--------------------------------- CONTACT ME ----------------------------*/
#contact_me {
  background-image: url(../images/footer-back.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 675px;
  padding: 100px 0;
  width: 100%;
}

#contact_me h2 {
  color: #fff;
  margin-bottom: 25px;
  z-index: 4;
}

#contact_me input {
  height: 50px;
  margin-bottom: 30px;
}

#contact_me textarea {
  height: 210px;
}

#contact_me input.myBut2 {
  height: 75px;
  margin-top: 0;
}

#contact_me .row.text-center {
  margin-bottom: 65px;
}

textarea {
  resize: none;
}

input[name="name"]::-moz-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
input[name="_replyto"]::-moz-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
input[name="sub"]::-moz-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
textarea[name="text"]::-moz-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}

input[name="name"]::-webkit-input-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
input[name="_replyto"]::-webkit-input-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
input[name="sub"]::-webkit-input-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}
textarea[name="text"]::-webkit-input-placeholder {
  color: #a8b4c5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  text-overflow: ellipsis;
}

/*--------------------------------- FOOTER ----------------------------*/
footer {
  padding: 20px 0;
}

footer i.fa-circle {
  color: #222;
}

footer p {
  margin-top: 10px;
}

footer a:hover {
  text-decoration: none;
}
